* {
   box-sizing: border-box;
}

.app-control,
.toggle-property {
   display: flex;
   align-items: center;
}

.app-control {
   padding: 10px 30px;
}

.history-button {
   color: #ffffff;
   flex: none;
   padding: 6px 12px;
   border: none;
   background-color: #007bff;
   border-radius: 4px;
   transition: .3s;
   outline: none;
   cursor: pointer;
   margin-right: 15px;
}

.history-button:hover {
   background-color: #0069d9;
}

.history-button:focus {
   border: none;
   box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
}

.input-wrapper {
   margin-right: 15px;
}